* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Passage de la police de 16px par défaut, à 10px -----> 10/16*100= 62.5 */
}

body {
  background-image: linear-gradient(
    to bottom,
    #003459,
    #00456d,
    #005880,
    #006a93,
    #007ea6
  );
  background-repeat: no-repeat;
  font-family: "Montserrat";
}

main {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 3rem;
  color: #fff;
}

ul {
  flex-direction: column;
  padding: 0;
}

li {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffb7;
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: 100ms ease-in-out;
}

.spanTextChecked {
  text-decoration: line-through;
  font-style: italic;
  color: #ffffff6b;
  transition: 100ms ease-in-out;
  translate: 1rem;
}

.liBackgroundChecked {
  background-color: #00000085;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffffc4;
  margin: 0;
  font: inherit;
  color: currentColor;
  min-width: 4rem;
  height: 4rem;
  border: 0.15em solid currentColor;
  border-radius: 0.2em;
  display: grid;
  place-content: center;
  transition: 150ms ease-out;
  margin-left: 1rem;
}

input[type="checkbox"]:hover {
  background-color: #ffffff;
  border: 1px solid black;
}

input[type="checkbox"]::before {
  content: "✔";
  width: 0.8em;
  height: 1.1em;
  transform: scale(0);
  transition: 100ms transform ease-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1.8);
}

#newTo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#addText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f3f3fb7;
  border: 5px solid #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: 100ms ease-in-out;
  margin-bottom: 1rem;
  color: #ffffff;
}

#addButton {
  font-size: 2rem;
  padding: 1.5rem;
}
